*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.683);
}

.key_btn{
    height: 100px;
    width: 100px;
    border: .5px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}

@media only screen and (max-width:1024px) {
    .key_btn{
        font-size: 5vw;
    }
}
